form {
    width: 100%;

    input, textarea, select {
        background-color: color(additional);
        border-radius: 3px;
        color: color(secondary);
        padding: 16px 8px;
        font-size: 12px;
        text-transform: capitalize;
        text-indent: 26px;
        height: 46px;
        width: 100%;

        &::placeholder {
            color: color(text-form);
            text-transform: uppercase;
        }

        &:focus {
            outline: 0 none;
        }
    }

    textarea {
        resize: none;
        height: 256px;
    }

    .invalid-input {
        border: 2px solid #f00;
        color: #f00;
    }
}

.margin{
   margin-bottom: 30px;
}

.error {
        text-align: center;
        font-size: 14px;
        color: red;
        width: 200px;
        margin: 0 auto 20px;
}

.error--inline {
    font-size: 11px;
    //padding: 2px 9px;
    color: red;
}

.column__contactForm {
    width: 100%;
    margin-right: 15px;
    margin-bottom: 30px;

    &:last-child {
        margin-right: 0;
    }
}

@media screen and (max-width: 767px) {
}

@media screen and (min-width: 768px) {
    .contactForm--1col, .contactForm--3cols {
        width: 100%;
        display: flex;
        justify-content: space-between;
     }
}