form {
    width: 100%;
    margin-bottom: 40px;

    input, textarea, select {
        background-color: color(additional);
        border-radius: 3px;
        color: color(secondary);
        font-size: 1.2rem;
        text-transform: capitalize;
        text-indent: 26px;
        height: 46px;
        width: 100%;
        font-family: inherit;

        &::placeholder {
            color: color(text-form);
            text-transform: uppercase;
        }

        &:focus {
            outline: 0 none;
        }
    }

    select, option {
        -webkit-appearance: none;
        -moz-appearance: none;
      }

    select {
        background-image: 
            linear-gradient(45deg, transparent 50%, gray 50%),
            linear-gradient(135deg, gray 50%, transparent 50%),
            linear-gradient(to right, #ccc, #ccc);
        background-position:
            calc(100% - 18px) 20px,
            calc(100% - 13px) 20px,
            calc(100% - 35px) 0.5rem;
        background-size:
            5px 5px,
            5px 5px,
            1px 3.5rem;
        background-repeat: no-repeat;
    }

    textarea {
        resize: none;
        height: 256px;
        padding: 16px 0;
    }

    textarea::-webkit-input-placeholder {
        text-indent: 26px;
        }

    .invalid-input {
        border: 2px solid #f00;
        color: #f00;
    }
}

.margin {
   margin-bottom: 30px;
}

.error {
        text-align: center;
        font-size: 1.4rem;
        color: red;
        width: 200px;
        margin: 0 auto 20px;
}

.error--inline {
    font-size: 1.1rem;
    color: red;
}

.column__contactForm {
    width: 100%;
    margin-right: 15px;
    margin-bottom: 30px;

    &:last-child {
        margin-right: 0;
    }
}

@media screen and (max-width: 767px) {
}

@media screen and (min-width: 768px) {
    .contactForm--1col, .contactForm--3cols {
        width: 100%;
        display: flex;
        justify-content: space-between;
     }
}